<ion-view view-title="Add Recipe" cache-view="false">
  <ion-content class="">
    <ion-list>
        <form novalidate class="validate-css" name="addrecipeForm">
    	<ion-item>
            <input type="hidden" name="count" value="1" />
            
            <div class="form-inline">
        		<div class="form-group row center-block">
        			<!-- &nbsp; &nbsp; &nbsp; -->
    	    		<input type="select" class="form-control input-style" id = "rNameInput" ng-model="rNameInput" placeholder="Recipe Name" required>
    	    		<!-- &nbsp; &nbsp; &nbsp; -->
    		        <!-- <select value="{{recipeDetail[0].categoryName}}" ng-model="rCategoryInput" id = "rCategoryInput" class="selectpicker input-style" >
                        <option ng-repeat="cats in categoryData">{{cats.categoryName}}</option>
                    </select> -->

                    

        		</div>
            </div>
            <div class="text-center padding">
                <select required id="rCategoryInput2" class="input-style center-block" >
                        <option value="">-Select Category-</option>
                        <option ng-repeat="cats in categoryData" value="{{cats.categoryName}}">{{cats.categoryName}}</option>
                    </select>
            </div>
            <div class="text-center">
                <button ng-click="addImage()" class=" btn btn-success btn-xs">add Image</button>
               <!--  <p>{{imagePathtemp}}</p> -->
               </div>
            <!-- <div class="text-center">
                <p class="text-center">image added!</p>
            </div> -->
    	</ion-item>
    	<ion-item>
            <center><h2>Ingredients</h2></center>
            <div class="form-inline">
        		<div class="form-group" ng-repeat="newfield in fields">
                    <!-- &nbsp; &nbsp; &nbsp; -->
                    <div class="row center-block">

                        <input type="select" ng-model="newfield.name" class="form-control" placeholder="Name" requried=""><br><br>
                    </div>
                    <div class="row center-block">
                        <input type="select" ng-model="newfield.houseHold" class="form-control col-md-6" placeholder="Household" id="2field1">
                        <input type="select" ng-model="newfield.weighted" class="form-control col-md-6" placeholder="Weighted" id="3field1">
                        <button class="remove btn btn-danger minus" ng-show="$last" ng-click="removeFields()">-</button>
                    </div>
                    
                </div>
            </div>
                <button class="add-more btn btn-success" ng-click="addFields()"> + </button>
    	</ion-item>
        <ion-item>
            <center><h2>Procedure</h2></center>
            <div class="form-inline">
                <div class="form-group row center-block" ng-repeat="procfield in procFields">
                    <!-- &nbsp; &nbsp; &nbsp; -->
                    <input type="select" ng-model="procfield.name" class="form-control" placeholder="">
                    
                    <button class="remove btn btn-danger minus" ng-show="$last" ng-click="removeProcFields()">-</button>
                </div>
            </div>
            <button class="add-more btn btn-success" ng-click="addProcFields()"> + </button>
        </ion-item>
        <ion-item>
            <center><h2>Notes</h2></center>
            <div class="form-inline">
                <div class="form-group row center-block">
                    <!-- &nbsp; &nbsp; &nbsp; -->
                    <textarea type="select" id = "notes" ng-model="notes" class="form-control input-style" placeholder="Notes">
                    </textarea>
                </div>
                 <div class="row center-block">
                    <button ng-disabled="addrecipeForm.$invalid" class="btn btn-success btn-lg center-block" ng-click="saveRecipe()"> Finish <span class="ion-android-send"></span></button>
                </div>
            </div>
        </ion-item>
        </form>
       
    </ion-list>
    
  </ion-content>
</ion-view>
