<ion-view title="Edit Recipe" cache-view="false">
  <ion-content class="padding">
    <ion-list>
        <ion-item>
            <input type="hidden" name="count" value="1" />
            
           
                <div class="center-block">
                    <input type="select" class="form-control input-style" id = "rNameInput2" value="{{recipeDetail[0].recipeName}}" placeholder="Recipe Name">
                </div>
                <br>
            
                <select  ng-init="{{editCategoryName}}" id = "rCategoryInput2" class="selectpicker input-style center-block addpadding" >
                    <option value="">-Select Category-</option>  
                    <option ng-repeat="cats in categoryData" value="{{cats.categoryName}}">{{cats.categoryName}}</option>
                </select>
                <br>
                <button ng-click="updateImage(recipeDetail[0].id)" class="btn btn-success btn-xs center-block">Select Picture</button>
           
        

            
        </ion-item>
        <ion-item>
            <h2 class="text-center">Ingredients</h2><br>
            <table class="table table-striped table-bordered"  ng-repeat="newfield in recipeIngredient">
                <tr>
                    <th colspan="2">
                        <input type="select"  ng-model="newfield.ingredientsName" value = "{{newfield.ingredientsName}}" class="form-control input-style text-center" placeholder="Ingredient" id="1field1">
                    </th>
                </tr>
                <tr>
                    <td>
                        <input type="select" ng-model="newfield.household" value="{{newfield.household}}" class="form-control input-style col-md-6" placeholder="HouseHold" id="2field1">
                    </td>
                    <td>
                        <input type="select" ng-model="newfield.weighted" value="{{newfield.weighted}}" class="form-control input-style col-md-6" placeholder="Weighted" id="3field1">
                    </td>
                </tr>
            </table>
            
            <button class="plus-top btn btn-success" ng-click="addFields()"> + </button>
        </ion-item>
        <ion-item>
            <h2 class="text-center">Procedures</h2>
            <div class="form-inline">
                <div class="form-group row center-block" ng-repeat="procfield in recipeProcedure">
                    <input type="select" ng-model="procfield.procedureDetail" value="{{procfield.procedureDetail}}" class="form-control input-style" placeholder="">
                    
                </div>
            </div>
            <button class="plus-left btn btn-success" ng-click="addProcFields()"> + </button>
        </ion-item>
        <ion-item>
            <h2 class="text-center">Notes</h2>
            <div class="form-group row center-block">
                
                <textarea type="select" id = "notes2" class="form-control input-style" placeholder="Notes">{{recipeDetail[0].notes}}</textarea>
                
            </div>
            <div class="row">
                 <button class="btn btn-success btn-lg center-block" ng-click="saveEditRecipe()"> Save <span class="ion-android-send"></span></button>
            </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>