<ion-view title="Edit Recipe" cache-view="false">
  <ion-content class="padding">
    <ion-list>
    	<ion-item>
            <input type="hidden" name="count" value="1" />
            <div class="form-inline ingForm">
        		<div class="form-group row">
                    <img ng-src="{{imagePathtemp}}">
                    <button ng-click="updateImage(recipeDetail[0].id)">Select Picture</button>
                    <br>
    	    		<input type="select" class="form-control input-style" id = "rNameInput2" value="{{recipeDetail[0].recipeName}}" placeholder="Recipe Name">
                    Category:
                    <select  ng-init="{{editCategoryName}}" id = "rCategoryInput2" class="selectpicker input-style" >
                        <option ng-repeat="cats in categoryData" value="{{cats.categoryName}}">{{cats.categoryName}}</option>
                    </select>
        		</div>
            </div>
    	</ion-item>
    	<ion-item>
            <h2>Ingredients</h2>
            <div class="form-inline ingForm">
        		<div class="form-group row" ng-repeat="newfield in recipeIngredient">
                    <input type="select" ng-model="newfield.ingredientsName" value = "{{newfield.ingredientsName}}" class="form-control input-style" placeholder="Ingredient" id="1field1">
                    <input type="select" ng-model="newfield.household" value="{{newfield.household}}" class="form-control input-style" placeholder="HouseHold" id="2field1">
                    <input type="select" ng-model="newfield.weighted" value="{{newfield.weighted}}" class="form-control input-style" placeholder="Weighted" id="3field1">
                    </div>
            </div>
            
            <button class="add-more btn btn-success" ng-click="addFields()"> + </button>
    	</ion-item>
        <ion-item>
            <h2>Procedures</h2>
            <div class="form-inline ingForm">
                <div class="form-group row" ng-repeat="procfield in recipeProcedure">
                    <input type="select" ng-model="procfield.procedureDetail" value="{{procfield.procedureDetail}}" class="form-control input-style" placeholder="">
                    
                </div>
            </div>
            <button class="add-more btn btn-success" ng-click="addProcFields()"> + </button>
        </ion-item>
        <ion-item>
            <h2>Notes</h2>
            <div class="form-group row">
                
                <textarea type="select" id = "notes2" class="form-control input-style" placeholder="Notes">{{recipeDetail[0].notes}}</textarea>
                
            </div>
            <div class="row">
                 <button class="btn btn-success btn-lg center-block" ng-click="saveEditRecipe()"> Save <span class="ion-android-send"></span></button>
            </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>