<ion-modal-view>
   <ion-header-bar>
      <h1 class = "title">Add Category</h1>
   </ion-header-bar>
	
   <ion-content>
   <div class="list">
   	 	<label class="item item-input">
    		<input id="categoryInputName" type="text" placeholder="Category Name" name="name" ng-model="category.name">
  		</label>
  		<div class="pull-right padding">
	  		<button class = "icon icon-left ion-plus-round btn btn-success" ng-click = "addCategory()"> ADD</button>
	    	<button class = "icon icon-left ion-close-round btn btn-danger" ng-click = "closeModal()"> CANCEL</button>
    	</div>
  	</div>
   	
   </ion-content>
</ion-modal-view>