<ion-view view-title="About">
  <ion-content class="padding">
    <p>
      With the <b>Kitchen Diary</b> app, you can write and personalize you own recipe. 
    </p>
    <p>
      This app can aid professionals, students, and enthusiasts with writing a recipe or planning a menu.
    </p>
    <p>
     You can also add your personal notes or corrections and promote better recipe comprehension.
    </p>
    
    <div class="container-fluid">
    <img src="img/adobo.jpg" class="img-responsive">
       <h1 class="well text-center">Enjoy Cooking!</h1>
    </div>
     
  </ion-content>
</ion-view>
